#wrapper{
    background-color: #e1f5fe59;
    min-width: 450px;
    padding-bottom: 30px;
}

main{
    max-width: 960px;
    margin: 0 auto;
    padding-top: 50px;
}
/* 日付を入力する部分 */
#search .searchBotton{
    padding-top: 20px;
    padding-left: 6px;
}
#search .searchBtn {
    height: 35px;
    width: 35px;
}
#search .searchBtn i{
    line-height: 0px;
    position: absolute;
    top: 18px;
    left: 1px;
    font-size: 1.3rem;
}
#search form{
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 20px;
    color: #FFFFFF;
}
#search .active{
    color: #FFFFFF;
}

.card .card-header{
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px 2px 0px 0px;
}
.card .card-title{
    font-family: "Rounded Mplus 1c";
    font-weight: 400;
    font-size: 1.5em;
    margin: 10px 30px;
}

.card .graph_box{
    margin-top: 60px;
}
.card .graph_box .title-img{
    height : 36px;
    border-radius : 2px;
    margin-top :-30px;
    padding-bottom : 5px;
    position: absolute;
}
.card .graph_label{
    margin-top: 60px;
}

/* favor */
#favor .card-header #output-date{
    font-size: 1.2em;
    position: absolute;
    top: 15px;
    right: 30px;
    color: #FFF;
}
#favor .card-header{
    background-color: #1E88E5;
}
#favor .card-header .card-title{
    color: #FFF;
}

/* materializeで設定されている項目初期化 */
 #favor #form_dete .row{
    margin: 0;
}
 #favor #form_dete #datepicker{
    margin: 0;
}
 #favor #form_dete .input-field{
    margin: 0;
}
/****************************************/

/* weather */
#weather .card{
    background-color: #425a7a;
}
#weather .card .card-image{
    width: 70%;
    margin: auto;
}
#weather .card .card-image .weather-text-content {
  position: absolute;
  display: none;
  padding: 15px;
  color: #FFFFFF;
  background-color: #183d55;
}
#weather .card .card-image:hover .weather-text-content {

  width: 500px;
  right: 10px;
  display: block;
  border-radius:5px;
  z-index: 2;
}
/* 適当領域*****************  */
/* cnt-info  */
#cnt-info .card{
    background-color: #1f2b3b;
}
#cnt-info .card .relative{
    position: relative;
    height: 30px;
    left : 15%;
    margin-top: 10px;
}
#cnt-info .card i{
    position: absolute;
}
#cnt-info .card p{
    position: absolute;
    left: 55px;
    top: -10px;
    font-size: 2em;
    color: #FFF;
}
/**************************  */

/* sex */
#sex .card-header{
    background-color: #985E00;
}
#sex .card-header .card-title{
    color: #FFF;
}

/* age */
#age .card-header{
    background-color: #0A5698;
}
#age .card-header .card-title{
    color: #FFF;
}

/* facial_expression */
#facial_expression .card-header{
    background-color: #43447F;
}
#facial_expression .card-header .card-title{
    color: #FFF;
}

.nav_color{
    background-color: #2C4B65 !important;
}
.search-color{
    background-color: #6488ba !important;
}
.search-btn-color{
    background-color: #3b516d !important;
}
